<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<h1>Hello World</h1>
	{{{body}}}
	<script>
		const formToJson = () => {
			var formElement = document.getElementsByTagName("form")[0],
				inputElements = formElement.getElementsByTagName("input"),
				jsonObject = {};
			for (var i = 0; i < inputElements.length; i++) {
				var inputElement = inputElements[i];
				jsonObject[inputElement.name] = inputElement.value;
			}
			return JSON.stringify(jsonObject);
		}

		const signupViaAjax = () => {
			const formData = formToJson();
			fetch("/sign-up", {
				method: "POST",
				body: formData,
				headers: {
					'Accept': 'application/json',
					'Content-Type': 'application/json',
				}
			})
				.then((data) => {
					console.log(data)
				})
				.catch((error) => {
					// If there is any error you will catch them here
				});
		}
	</script>
</body>

</html>