<div>
	<form action="/sign-up" method="POST" onsubmit="return false;">
		<input name="username" type="text" size="30" value="" placeholder="username" required>
		<input name="password" type="password" size="30" value="" placeholder="password" required>
		<button type="submit" onclick="signupViaAjax()">Sign In</button>
	</form>
</div>